<div class="isolate bg-zinc-100 px-6 py-24 sm:py-32 lg:px-8">
  <div class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]"
       aria-hidden="true">
    <div
      class="relative left-1/2 -z-10 aspect-1155/678 w-[36.125rem] max-w-none -translate-x-1/2 rotate-[30deg] bg-linear-to-tr from-[#007d9a] to-[#9089fc] opacity-30 sm:left-[calc(50%-40rem)] sm:w-[72.1875rem]"
      style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
  </div>
  <div class="mx-auto max-w-2xl text-center">
    <h2 class="text-4xl font-semibold tracking-tight text-balance text-gray-900 sm:text-4xl">URL Analyzer</h2>
    <p class="mt-2 text-lg/8 text-gray-600">Get Stats from any of the publicly hosted URLs</p>
  </div>


  <div class="mx-auto mt-10 max-w-2xl sm:mt-12">

    <div class="flex gap-2">
      <div class="grow-1">
        <input class="w-full" type="text" pInputText [readOnly]="isLoading" [formControl]="urlInputFormControl"/>
      </div>
      <div>
        <p-button styleClass="transition duration-300" label="Analyze" [loading]="isLoading" (click)="getStats()"/>
      </div>

    </div>



    @if (data) {
      <div class="mt-10">
        <p-card header="Document Information" styleClass="hover:shadow-xl transition-shadow duration-300">
          <hr class="bg-gray-200 border-0 h-px my-1">
          <div>
            <table class="w-full c-document">
              <tr>
                <td class="font-semibold text-zinc-600 py-2">HTML Version</td>
                <td class="font-bold text-zinc-900 text-end">{{ data.htmlVersion }}</td>
              </tr>
              <tr>
                <td class="font-semibold text-zinc-600 py-2">Page Title</td>
                <td class="font-bold text-zinc-900 text-end">{{ data.pageTitle }}</td>
              </tr>
              <tr>
                <td class="font-semibold text-zinc-600 py-2">Login Form</td>
                <td class="font-bold text-zinc-900 text-end">{{ data.loginFormDetected ? 'Yes' : 'No' }}</td>
              </tr>
            </table>
          </div>
        </p-card>

        <p-card header="Heading Structure" styleClass="mt-5">

          <div class="grid grid-cols-4 gap-4 mt-2">
            <div class="border border-gray-200 rounded-lg p-4 hover:border-cyan-200 transition duration-200">
              <div class="mx-auto fit-content text-center text-xl font-semibold text-gray-700">
                {{ data.headings.h1 }}
              </div>
              <div class="mx-auto fit-content text-center text-sm text-gray-500 mt-1">
                H1
              </div>
            </div>
            <div class="border border-gray-200 rounded-lg p-4">
              <div class="mx-auto fit-content text-center text-xl font-semibold text-gray-700">
                {{ data.headings.h2 }}
              </div>
              <div class="mx-auto fit-content text-center text-sm text-gray-500 mt-1">
                H2
              </div>
            </div>
            <div class="border border-gray-200 rounded-lg p-4">
              <div class="mx-auto fit-content text-center text-xl font-semibold text-gray-700">
                {{ data.headings.h3 }}
              </div>
              <div class="mx-auto fit-content text-center text-sm text-gray-500 mt-1">
                H3
              </div>
            </div>
            <div class="border border-gray-200 rounded-lg p-4">
              <div class="mx-auto fit-content text-center text-xl font-semibold text-gray-700">
                {{ data.headings.h4 }}
              </div>
              <div class="mx-auto fit-content text-center text-sm text-gray-500 mt-1">
                H4
              </div>
            </div>
            <div class="border border-gray-200 rounded-lg p-4">
              <div class="mx-auto fit-content text-center text-xl font-semibold text-gray-700">
                {{ data.headings.h5 }}
              </div>
              <div class="mx-auto fit-content text-center text-sm text-gray-500 mt-1">
                H5
              </div>
            </div>
            <div class="border border-gray-200 rounded-lg p-4">
              <div class="mx-auto fit-content text-center text-xl font-semibold text-gray-700">
                {{ data.headings.h6 }}
              </div>
              <div class="mx-auto fit-content text-center text-sm text-gray-500 mt-1">
                H6
              </div>
            </div>
            <div class="border border-gray-200 rounded-lg p-4">
              <div class="mx-auto fit-content text-center text-xl font-semibold text-gray-700">
                {{ data.headings.h7 }}
              </div>
              <div class="mx-auto fit-content text-center text-sm text-gray-500 mt-1">
                H7
              </div>
            </div>
            <div class="border border-gray-200 rounded-lg p-4">
              <div class="mx-auto fit-content text-center text-xl font-semibold text-gray-700">
                {{ data.headings.h8 }}
              </div>
              <div class="mx-auto fit-content text-center text-sm text-gray-500 mt-1">
                H8
              </div>
            </div>
          </div>
        </p-card>

        <p-card header="Link Analysis" styleClass="mt-5">
          <div class="grid grid-cols-3 gap-4 mt-2">
            <div class="border border-gray-200 rounded-lg p-4 hover:border-cyan-200 transition duration-200">
              <div class="mx-auto fit-content text-center text-xl font-semibold text-gray-700">
                {{ data.internalLinks }}
              </div>
              <div class="mx-auto fit-content text-center text-sm text-gray-500 mt-1">
                Internal Links
              </div>
            </div>
            <div class="border border-gray-200 rounded-lg p-4 hover:border-cyan-200 transition duration-200">
              <div class="mx-auto fit-content text-center text-xl font-semibold text-gray-700">
                {{ data.externalLinks }}
              </div>
              <div class="mx-auto fit-content text-center text-sm text-gray-500 mt-1">
                External Links
              </div>
            </div>
            <div class="border border-gray-200 rounded-lg p-4 hover:border-cyan-200 transition duration-200">
              <div class="mx-auto fit-content text-center text-xl font-semibold text-gray-700">
                {{ data.inaccessibleLinks }}
              </div>
              <div class="mx-auto fit-content text-center text-sm text-gray-500 mt-1">
                In Accessible Links
              </div>
            </div>
          </div>
        </p-card>

      </div>


    }

  </div>


</div>


